<td>
  <button data-spec="delete-entry" type="button" class="btn btn-danger btn-sm">
    <span class="glyphicon glyphicon-trash"></span>
  </button>
</td>

<td class="delta" data-spec="delta">
  <input name="delta_{{_cid}}" data-spec="delta-input" type="text" class="form-control"
         autofocus data-rule-required="true" data-rule-number="true">
</td>

<td class="tags" data-spec="tags">
  <select name="tags_{{_cid}}" data-spec="tags-select" multiple class="form-control" style="width:100%">
  </select>
</td>

<td class="description" data-spec="description">
  <input name="description_{{_cid}}" data-spec="description-input" type="text" class="form-control">
</td>

