<div id="tab_{{name}}" role="tabpanel" class="tab-pane" >
  <div class="panel-buttons" style="position:relative">
    <div data-spec="export-loading" class="loading loading-center"></div>
  </div> <!-- panel-buttons -->

  <div class="panel panel-default"><div class="panel-body">
    <div class="row">
      <div class="col-md-4 text-center">
        <button data-spec="all-records" type="button" class="btn btn-lg">
          <img src="/img/iconmonstr-archive-4.svg" alt="Records" class="img-responsive center-block" />

          Records
        </button>
        <br>
      </div>

      <div class="col-md-4 text-center">
        <button type="button" class="btn btn-lg">
          <img src="/img/iconmonstr-pencil-6.svg" alt="New record" class="img-responsive center-block" />

          New record
        </button>

        <br>
      </div>

      <div class="col-md-4 text-center">
        <button type="button" class="btn btn-lg">
          <img src="/img/iconmonstr-checkout-2.svg" alt="Accounts" class="img-responsive center-block" />

          Accounts
        </button>
        <br>
      </div>
    </div>

  </div>
</div>
