<div class="panel-buttons" style="position:relative">
  <div data-spec="export-loading" class="loading loading-center"></div>
</div> <!-- panel-buttons -->

<div class="panel panel-default"><div class="panel-body">
  <div class="row">
    <div class="col-sm-4 col-md-4 text-center">
      <button data-spec="start-new-record" type="button" class="btn btn-lg btn-default home-tab-btn">
        <img src="/img/iconmonstr-pencil-6.svg" alt="New record" class="img-responsive center-block" />
        New record
      </button>
    </div>

    <div class="col-sm-4 col-md-4 text-center">
      <button data-spec="all-records" type="button" class="btn btn-lg btn-default home-tab-btn">
        <img src="/img/iconmonstr-archive-4.svg" alt="Records" class="img-responsive center-block" />
        Records
      </button>
    </div>

    <div class="col-sm-4 col-md-4 text-center">
      <button data-spec="assets" type="button" class="btn btn-lg btn-default home-tab-btn">
        <img src="/img/iconmonstr-coin-10.svg" alt="Assets" class="img-responsive center-block" />
        Assets
      </button>
    </div>

  </div>

  <br>

  <div class="row">
    <div class="col-sm-4 col-md-4 text-center">
    </div>

    <div class="col-sm-4 col-md-4 text-center">
      <button data-spec="reports" type="button" class="btn btn-lg btn-default home-tab-btn">
        <img src="/img/iconmonstr-chart-6.svg" alt="Reports" class="img-responsive center-block" />
        Reports
      </button>
    </div>

    <div class="col-sm-4 col-md-4 text-center">
      <button data-spec="tags" type="button" class="btn btn-lg btn-default home-tab-btn">
        <img src="/img/iconmonstr-tag-18.svg" alt="Tags" class="img-responsive center-block" />
        Tags
      </button>
    </div>

  </div> <!-- row -->

</div>
