<tr>
  <td class="record-checkbox">
    <input data-spec="select-asset" type="checkbox" value="">
    <br>
  </td>

  <td class="name">{{name}}</td>
  <td class="saldo">{{saldo}}</td>
  <td>{{description}}</td>
</tr>
