<tr>
  <td class="select-item-checkbox">
    <input data-spec="select-asset" type="checkbox" value="">
  </td>

  <td role="button" class="name">{{name}}</td>
  <td role="button" class="balance">{{balance}}</td>
  <td role="button">{{description}}</td>
</tr>
