<div id="tab_{{name}}" role="tabpanel" class="tab-pane">

  <div class="panel-buttons" style="position:relative">
    <div data-spec="export-loading" class="loading loading-center"></div>

    <button data-spec="refresh" type="button" class="btn btn-primary">
      <span aria-label="refresh" class="glyphicon glyphicon-refresh"></span>
    </button>

    <button data-spec="toggle-filter" class="btn btn-default" type="button">
      <span aria-label="refresh" class="glyphicon glyphicon-filter"></span>
    </button>
  </div> <!-- panel-buttons -->

  <br>

  <div data-spec="records-filter-region"></div>

  <div class="panel panel-default"><div class="panel-body">

    <div data-spec="report-views-region">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4" data-spec="tags-pie-region-1"></div>
          <div class="col-md-4" data-spec="tags-pie-region-2"></div>
        </div>
      </div>
    </div>

  </div></div>
</div>
