<nav aria-label="navigation">

  <ul class="pagination" style="margin:0px !important;">

    <li class="{{#ifeq currentPage firstPage}}disabled{{/ifeq}}">
      {{#ifeq currentPage firstPage}}
        <span>&laquo;</span>
        {{^}}
        <a data-spec="page-button" data-page-number="{{previousPage}}" href="javascript:void(0);" aria-label="Previous">
          &laquo;
        </a>
      {{/ifeq}}
    </li>


    {{#paginator_buttons totalPages currentPage}}{{/paginator_buttons}}


    <li class="{{#ifeq currentPage lastPage}}disabled{{/ifeq}}">
      {{#ifeq currentPage lastPage}}
        <span>&raquo;</span>
      {{^}}
        <a data-spec="page-button" data-page-number="{{nextPage}}" href="javascript:void(0);" aria-label="Next">
          &raquo;
        </a>
      {{/ifeq}}
    </li>

  </ul>
</nav>
