<div class="collapse" id="filter_records_{{routeId}}">
  <div class="well">

    <form name="filter_records_form" autocomplete="off" class="form-horizontal">

      <div class="form-group form-group-sm">
        <label class="col-sm-2 col-md-2 control-label">Date from</label>
        <div class="col-sm-4 col-md-4">
          <div data-spec="dt_from" class='input-group date'>
            <input name="dt_from" type="text" class="form-control" value="">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>

        <label class="col-sm-2 col-md-2 control-label">Date to</label>
        <div class="col-sm-4 col-md-4">
          <div data-spec="dt_to" class='input-group date'>
            <input name="dt_to" type="text" class="form-control" value="">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>

      <div class="select2-wrapper">
        <div class="form-group form-group-sm">
          <label class="col-sm-2 col-md-2 control-label">Assets from</label>

          <div class="col-sm-4 col-md-4">
            <select multiple name="assets_from" style="width: 100%"></select>
          </div>

          <label class="col-sm-2 col-md-2 control-label">Assets to</label>

          <div class="col-sm-4 col-md-4">
            <select name="assets_to" multiple style="width: 100%"></select>
          </div>
        </div>
      </div>

      <div class="select2-wrapper">
        <div class="form-group form-group-sm">
          <label class="col-sm-2 col-md-2 control-label">Tags</label>
          <div class="col-sm-4 col-md-4">
            <div class="input-group">
              <select name="tags" multiple class="form-control" style="width: 100%"></select>
              <span class="input-group-addon">
                <input name="tags_all" type="checkbox" data-toggle="tooltip" title="Match all selected tags">
              </span>
            </div>
          </div>


          <label class="col-sm-2 col-md-2 control-label">Mode</label>
          <div class="col-sm-4 col-md-4">
            <div class="input-group">
              <select name="mode" multiple class="form-control" style="width: 100%">
                {{#each (context 'RECORD_MODES') }}
                  <option value="{{this.value}}">{{this.label}}</option>
                {{/each}}
              </select>

              <span class="input-group-addon">
                <input name="modes_all" type="checkbox" data-toggle="tooltip" title="Match all selected modes">
              </span>
            </div>
          </div>

        </div> <!-- form-group -->
      </div> <!-- select2-wrapper -->
    </form>

    <div class="btn-toolbar" role="toolbar">
      <button data-spec="clear" type="button" class="btn btn-default pull-right">Clear</button>
      <button data-spec="apply" type="button" class="btn btn-default pull-right">Apply</button>
    </div>

  </div> <!-- well -->
</div>
