<tr>
  <td class="select-item-checkbox">
    <input data-spec="select-tag" type="checkbox" value="">
  </td>

  <td role="button">{{name}}</td>
  <td role="button">{{records_count}}</td>
  <td role="button">{{description}}</td>
</tr>
