<thead>
  <tr>
    <th class="select-item-checkbox">
      <input type="checkbox" value="">
    </th>

    <th>
      <div class="wrap">Name</div>
    </th>

    <th>
      <div class="wrap">Records count</div>
    </th>


    <th>Description</th>
  </tr>
</thead>
