<a href="{{route}}" data-target="#tab_{{routeId}}" aria-controls="tab_{{routeId}}" role="tab" data-toggle="tab">
  {{#ifnot permanent}}
    <button data-spec="close-tab" class="close closeTab" type="button" >×</button>
  {{/ifnot}}

  {{title}}
</a>

