.env
pylint.out
ghostdriver.log
geckodriver.log
npm-debug.log
webpack.config.release.js

node_modules/
.mypy_cache/

# --------- Python ---------- #
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
