@import '~node_modules/bootstrap/dist/css/bootstrap.css';
@import '~node_modules/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css';
@import '~node_modules/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css';
@import '~node_modules/select2-bootstrap-theme/dist/select2-bootstrap.css';


#main_container {
    margin-top: 60px;
}

.minicash-status {
    text-align: center;
    position: absolute;

    right: 50%;
    top: 51px;
    z-index: 9999;

    div.minicash-status-text {
        display: inline-block;
        font-size: 1.5em;

        color: #6FBC6C;
    }

    div.minicash-status-animation {
        display: inline-block;
        vertical-align: center;
        width: 1.5em;
        height: 1.5em;

        background-image: url('../img/loading.svg');
        background-size: 1.5em, 1.5em;
        background-repeat: no-repeat;
    }
}

/* ------ Helpers ------ */
/* --------------------- */
img.inverted {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.input-container {
    position: relative; /* for absolute child element */
}

.panel-heading h3 {
    margin-top: 10px;
}

.panel-buttons {
    margin-top: 5px;
    margin-bottom: 5px;
}


/* ----- Error box ----- */
/* --------------------- */
.critical-error-box {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index:10000;
    height: 500px;
    width: 600px;
    margin-left: -300px;
    margin-top: -300px;
}

.critical-error-box textarea {
  width: 100%;
  height: 360px;
}

.critical-error-box h3 {
    margin-top: 5px;

    background-color:antiquewhite;
}

table.table-fixed {
    table-layout: fixed;
}


.dropdown-menu {
    min-width: 1px;
    left: auto;
    right: 0;
}

.form-control[readonly] {
    background-color: white;
}


/* ----- Generic table ---- */

th.select-item-checkbox,td.select-item-checkbox {
    text-align: center;
}

th.select-item-checkbox {
    width: 40px;
}


/* ----- Records ----- */
table[data-spec="records-table"] {
    td {
        border: 0px;
    }

    // tbody {
    //     border: 0px;
    // }

    th > .wrap{
        text-overflow:ellipsis;
        overflow:hidden;
        white-space:nowrap;
    }

    th.dt-stamp {
        $width: 120px;
        max-width: $width;
        width: $width;
    }

    th.delta {
        $width: 80px;
        max-width: $width;
        width: $width;
        text-align: right;
    }

    th.account {
        $width: 200px;
        max-width: $width;
        width: $width;
    }

    th.tags {
        $width: 300px;
        max-width: $width;
        width: $width;
    }
}


table[data-spec="record-multi-entries-table"] {
    th.buttons,td.buttons {
        width:5%;
    }

    th.delta,td.delta {
        width:15%;
    }

    th.tags,th.description,td.tags,td.description {
        width:40%;
    }
}


table[data-spec="grouped-records-table"] {
    td {
        border: 0px;
    }

    th.delta {
        $width: 80px;
        max-width: $width;
        width: $width;
        text-align: right;
    }

    th.tags {
        $width: 300px;
        max-width: $width;
        width: $width;
    }

    margin-bottom: 0px;
}

/* ====== Overrides ====== */
/* ======================= */

/* Bootstrap modal vertically centered */
.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display:block;
}

/*-------------------------*/


/* ------ Tabs ----------- */
.nav-tabs {

    > li .close {
	    margin: 0 0 0 5px;
    }
}

/* -------- Home tab ----- */
button.home-tab-btn {
    width: 120px;
    white-space: initial;

    font-size: 1em;

    img {
        margin-bottom: 5px;
    }
}
