<td class="select-item-checkbox">
  <input data-spec="select-record" type="checkbox" value="">
</td>

<td role="button">{{created_dt}}</td>

<td class="delta" role="button">{{#record_mode_sign mode}}{{/record_mode_sign}}{{decimal delta}}</td>

<td class="hidden-xs" role="button">{{#record_account asset_from asset_to}}{{/record_account}}</td>

<td role="button">
  {{#record_tags_names this}}{{/record_tags_names}}
</td>

<td class="hidden-xs" role="button">{{description}}</td>
