<thead>
  <tr>
    <th class="select-item-checkbox">
      <input type="checkbox" value="">
    </th>

    <th class="dt-stamp">
      <div class="wrap">
        <span>Date</span> / <span>time</span>
      </div>
    </th>

    <th class="delta">
      <div class="wrap">Expense</div>
    </th>

    <th class="account hidden-xs">
      <div class="wrap">Account</div>
    </th>

    <th class="tags">Tags</th>

    <th class="description hidden-xs">Description</th>
  </tr>
</thead>

<tbody>
</tbody>
