<td class="select-item-checkbox">
  {{#ifgt records.length 1}}
    <button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
  {{/ifgt}}
</td>

<td role="button">{{created_dt}}</td>

<td class="delta" role="button">{{#record_mode_sign mode}}{{/record_mode_sign}}{{#decimal}}{{total_delta}}{{/decimal}}</td>

<td role="button">{{#record_account asset_from asset_to}}{{/record_account}}</td>

<td role="button">
  common tags + non-common tags
</td>

<td class="description hidden-xs" role="button">common description hahahahahahahahahahahahahahahajafjfajfjafjaa adlfasldfkjhadlsfkj aldkfjhalskdjfhalskdjfh alkdsjfhalkjdsfh</td>
