<td class="select-item-checkbox">
  <input data-spec="select-record" type="checkbox" value="">
</td>

<td>{{#decimal}}{{delta}}{{/decimal}}</td>
<td>
  {{#each tags}}
    {{this}}{{#ifnot @last}}, {{/ifnot}}
  {{/each}}
</td>
<td>{{description}}</td>
