<td>
  <button data-spec="toggle-sub-records" type="button" class="btn btn-xs">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </button>
</td>

<td>{{created_date}}</td>
<td>{{#record_mode_sign mode}}{{/record_mode_sign}}{{#decimal}}{{delta}}{{/decimal}}</td>
<td>{{#record_account asset_from asset_to}}{{/record_account}}</td>
<td>
  {{#each tags}}
    {{this}}{{#ifnot @last}},{{/ifnot}}
  {{/each}}
</td>
<td>{{description}}</td>
