<tr>
  <td class="select-item-checkbox">
    <input data-spec="select-record" type="checkbox" value="">
    <br>
  </td>

  <td role="button">{{created_dt}}</td>

  <td class="delta" role="button">{{#record_mode_sign mode}}{{/record_mode_sign}}{{#decimal}}{{delta}}{{/decimal}}</td>
    <td role="button">{{#record_account asset_from asset_to}}{{/record_account}}</td>
    <td role="button">
      {{#each tags}}
        {{this}}{{#ifnot @last}},{{/ifnot}}
      {{/each}}
    </td>
  <td role="button">{{description}}</td>
</tr>
