<table>
  <col class="grouped-records-controls">
  <col class="grouped-records-delta">
  <col class="grouped-records-tags"/>
  <col class="grouped-records-description">

  <thead>
    <tr>
      <th class="select-item-checkbox">
        <div class="wrap">
        </div>
      </th>
      <th class="delta">
        <div class="wrap">
          Expense
        </div>
      </th>
      <th class="tags">
        <div class="wrap">
          Tags
        </div>
      </th>
      <th>
        <div class="wrap">
          Description
        </div>
      </th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>
