<td class="select-item-checkbox">
  BTN
</td>

<td role="button">created_dt</td>

<td class="delta" role="button">sum_delta</td>

<td role="button">asset</td>

<td role="button">
  common tags + non-common tags
</td>

<td role="button">common description</td>
