<table>
  <thead>
    <tr>
      <th class="select-item-checkbox">
        <input type="checkbox" value="">
      </th>

      <th class="delta">
        <div class="wrap">
          Expense
        </div>
      </th>

      <th class="tags">
        <div class="wrap">
          Tags
        </div>
      </th>

      <th>
        <div class="wrap">
          Description
        </div>
      </th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>
