<table data-spec="grouped-records-table" class="table table-bordered table-striped table-fixed" cellspacing="0" width="100%">
  <col class="grouped-records-controls">
  <col class="grouped-records-delta">
  <col class="grouped-records-tags"/>
  <col class="grouped-records-description">

  <thead>
    <tr>
      <th></th>
      <th>Expense</th>
      <th>Tags</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody data-spec="grouped-records-table-body">
  </tbody>
</table>
