<tr>
  <td class="record-checkbox">
    <input data-spec="select-record" type="checkbox" value="">
    <br>
  </td>

  <td>{{dt_stamp}}</td>

  <td class="delta">{{#decimal}}{{delta}}{{/decimal}}</td>
  <td>{{#record_account asset_from asset_to}}{{/record_account}}</td>
  <td>
    {{#each tags}}
      {{this}}{{#ifnot @last}},{{/ifnot}}
    {{/each}}
  </td>
  <td>{{description}}</td>
</tr>
