<td>

  <!-- Split button -->
  <div class="btn-group">

    <button data-spec="add-sub-record" type="button" class="btn btn-xs btn-primary">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>

    <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
      <li>
        <button data-spec="edit-record" type="button" class="btn btn-xs btn-primary">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </button>
      </li>

      <li>
        <button data-spec="delete-record" type="button" class="btn btn-xs btn-danger">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
      </li>
    </ul> <!-- dropdown-menu -->

  </div> <!-- btn-group -->
</td>


<td>
  <span data-spec="parent-delta">{{#decimal}}{{delta}}{{/decimal}}</span>
  <span class="text-success"> /
    <span data-spec="total-sub-records-delta">
      {{#decimal}}{{view_total_sub_records_delta}}{{/decimal}}
    </span>
  </span>
</td>

<td>
  {{#each tags}}
    {{this}}{{#ifnot @last}},{{/ifnot}}
  {{/each}}
</td>

<td>{{description}}</td>
