<td colspan="4" class="new-sub-record">
  <form>
    <table class="table table-bordered table-striped new-sub-record table-fixed">
      <col class="sub-record-controls">
      <col class="sub-record-delta">
      <col class="sub-record-tags">
      <col class="sub-record-description">


      <tbody>
        <tr>
          <td>
            <button data-spec="save-new-sub-record" type="button" class="btn btn-xs btn-primary">
              <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
            </button>
            <button data-spec="cancel-new-sub-record" type="button" class="btn btn-xs btn-default">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
          </td>

          <td>
            <div class="form-group">
              <input type="text" name="delta" class="form-control">
            </div>
          </td>

          <td>
            <div class="form-group">
              <input type="text" name="tags" class="form-control">
            </div>
          </td>

          <td>
            <div class="form-group">
              <input type="text" name="description" class="form-control">
            </div>
          </td>

        </tr>
      </tbody>
    </table>
  </form>
</td>
