<td>
  <button data-spec="delete-sub-record" type="button" class="btn btn-xs btn-danger">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
  </button>
</td>
<td>{{delta}}</td>
<td>{{tags}}</td>
<td>{{description}}</td>
