<table class="table table-bordered table-striped table-fixed" data-spec="sub-records-table" cellspacing="0" width="100%">
  <col class="sub-record-controls">
  <col class="sub-record-delta">
  <col class="sub-record-tags"/>
  <col class="sub-record-description">

  <thead>
    <tr>
      <th></th>
      <th>Delta</th>
      <th>Tags</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody data-spec="unfiled-data-body">
    <tr>
    </tr>
  </tbody>

  <tbody data-spec="sub-records-table-body">
  </tbody>
</table>
