<div class="panel-buttons" style="position:relative">
  <div data-spec="export-loading" class="loading loading-center"></div>

  <div class="pull-left">
    <button data-spec="start-new-record" type="button" class="btn btn-default">
      <span aria-label="New" class="glyphicon glyphicon-plus"></span>
    </button>

    <button data-spec="delete-record" type="button" class="btn btn-danger" disabled>
      <span aria-label="Delete" class="glyphicon glyphicon-trash"></span>
    </button>

    <button data-spec="toggle-filter" class="btn btn-default" type="button">
      <span aria-label="refresh" class="glyphicon glyphicon-filter"></span>
    </button>

    <input data-spec="flat-grouped" type="checkbox" data-on-color="default" data-off-color="default"
           data-on-text="Flat"
           data-off-text="Grouped">
  </div>

  <div style="margin-left:1em;" class="pull-right">
    <button class="btn btn-default" type="button"
            disabled="disabled"
            data-toggle="tooltip" title="{{#tr "Tab options"}}{{/tr}}">
      <span aria-label="refresh" class="glyphicon glyphicon-cog"></span>
    </button>
  </div>

  <br><br>
  <div data-spec="top-paginator-region" class="pull-right"></div>
</div> <!-- panel-buttons -->

<br><br>

<div data-spec="records-filter-region"></div>

<div class="panel panel-default"><div class="panel-body">
  <div data-spec="records-table-region"></div>
</div></div>

<div data-spec="bottom-paginator-region" class="pull-right"></div>
