<div id="tab_{{name}}" role="tabpanel" class="tab-pane">

  <div class="panel-buttons" style="position:relative">
    <div data-spec="export-loading" class="loading loading-center"></div>

    <div class="pull-left">
      <button data-spec="start-new-record" type="button" class="btn btn-default">
        <span aria-label="New" class="glyphicon glyphicon-plus"></span>
      </button>

      <div class="btn-group" role="group">
        <button data-spec="delete-record" type="button" class="btn btn-danger" disabled>
          <span aria-label="Delete" class="glyphicon glyphicon-trash"></span>
        </button>
      </div>

      <button class="btn btn-default" type="button"
              data-toggle="collapse" data-target="#filter_records_{{name}}"
              aria-expanded="false" aria-controls="collapseExample">
        <span aria-label="refresh" class="glyphicon glyphicon-filter"></span>
      </button>
    </div>

    <div data-spec="paginator-region" class="pull-right"></div>

  </div> <!-- panel-buttons -->

  <br><br>

  {{> components/records_filter }}

  <div class="panel panel-default"><div class="panel-body">
    <div data-spec="records-table-region"></div>
  </div></div>

</div>
